:root {
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --warm-grey: #666666;
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --special-deep-blue: #5496BD;
  --special-light-blue: #669EC0;
  --basic-brown: #766357;
  --special-light-brown: #604E43;
  --special-deep-brown: #503E33;
  --basic-input: #F2F2F2;
  --special-input: #EBEBEB;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-grey: #808080;
  --special-white: rgba(255, 255, 255, 0.3);
  --basic-toggle: #ABABAB;
  --special-toggle: rgba(171,171,171, 0.3);
  --special-black: rgba(0,0,0,0.3);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-black);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  height: 100%;
}
.page {
  height: 100%;
}
.wrapper {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}
a {
  text-decoration: none;
}
h1, h2 {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.button {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px;
  font-weight: bold;
  width: 110px;
  height: 27px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--special-light-blue);
} 
.button:active {
  background-color: var(--special-deep-blue);
  color: var(--special-white);
} 

/* Main navigation */

.main-header {
  list-style: none;
}

.main-navigation {
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px;
  width: 1200px;
  margin: 0 0;
  padding: 0 0;
  outline: 5px solid rgba(255, 187, 0, 0.7);
  outline-offset: -7px;
  
}
.site-navigation {
  display: grid;
  grid-template-columns: 200px 200px 400px 200px 200px; 
  grid-template-rows: 56px;
  width: 1200px;
  margin: 0 0;
  padding: 0 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
  grid-column: 1/2;
  grid-row: 1/2; 
}
.grid-info {
  grid-column: 1/2; 
  margin-top: 15px;
  margin-left: 87px;  
}
.grid-foto {
  grid-column-start: 2/3;  
  margin-left: 100px;
  margin-top: 15px;
}
.grid-map {
  grid-column: 4/5; 
  margin-left: 16px;
  margin-top: 15px;
}
.grid-hotel{
  grid-column: 5/6; 
  margin-left: 48px;
  margin-top: 15px; 
}
.header-logo {
  height: 70px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  margin-bottom: auto;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  z-index: 3;
 }

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}
.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.site-navigation .site-navigation-current {
  color: var(--basic-brown);
}
.background-logo {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 509px;
  background-image: url(../img/background/main-index-background.jpg);
  background-color: var(--basic-grey);
  outline: 5px solid rgba(255, 0, 242, 0.3);
  outline-offset: -5px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.white-mask {
  position: absolute;
  top: 509px;
  background-image: url(../img/white-mask.svg); 
  width: 1200px;
  height: 57px;   
}
.main-container {
  outline: 5px solid rgba(255, 0, 242, 0.966);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 509px 1fr min-content;
}
.grid-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 216px 1fr;
  outline: 5px solid rgba(0, 255, 42, 0.973);
  outline-offset: -5px;
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
}
.features {
  outline: 5px solid rgb(255, 251, 0);
  outline-offset: -5px;
  grid-column: 1/4;
  grid-row: 1/2;
}
.search-box {
  outline: 5px solid rgba(0, 225, 255, 0.993);
  outline-offset: -5px;
  grid-column: 1/4;
  grid-row: 3/4;
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 586px 256px 256px;
  outline: 5px solid rgba(68, 0, 255, 0.973);
  outline-offset: -5px;
  grid-column: 1/4;
  grid-row: 2/3;
  list-style: none;
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 800px; 
  grid-template-rows: 256px 330px;
  grid-column: 1/4;  
  grid-row: 1/2; 
}
.grid2 {
  display: grid;
  grid-template-columns: 800px 1fr; 
  grid-template-rows: 256px;
  grid-column: 1/4;
  grid-row: 2/3;
}

.grid3 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.grid4 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.grid5 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.devils-bridge {
  grid-column: 1/2;
  grid-row: 1/2;
} 

.background-real-town {
  grid-column: 2/4;  
  grid-row: 1/2; 
}
.main-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 330px;
  grid-column: 1/4;  
  grid-row: 2/3; 
  list-style: none;
} 

.feature-item-box-grid1 {
  grid-column: 1/2;  
  grid-row: 1/2; 
}
.feature-item-box-grid1 h3 {
  margin-top: 47px;
}

.feature-item-box-grid2 {
  grid-column: 2/3;
}    
.feature-item-box-grid2 h3 {
  margin-top: 50px;
}

.lead {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top:  42px;
  color: var(--basic-black);
}

.feature-list h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.feature-item-box {
  width: 400px;
  min-height: 256px;
  background-color: var(--basic-blue);
  font-weight: normal;
  color: var(--basic-white);  
}
.feature-item-box h3 {
  color: inherit; 
}
.last-items {
  background-color: var(--basic-light-grey);
}
.last-items h3 {
  margin-top: 47px;
}
.search-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 291px min-content;
  text-align: center;
}
.search-form {
  position: absolute;
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  left: 50%;
  top: 50%;
  margin-left: -284px;
  margin-top: -154px;
}

.search-info {
  padding: 25px 0;
  margin: 4px 0 24px 0;
}
.search-item-checkin {
  margin-top: 55px;
}
.search-text {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-top: 58px;
  margin-bottom: 0;
}
.button-open-form {
  padding: 30px 117px;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
  }

.button-brown {
  padding: 10px 16px 5px 16px;
  background: var(--basic-brown);
} 
.button-brown:hover,
.button-open-form:hover {
  background-color: var(--special-light-brown);
}
.button-brown:active 
.button-open-form:hover {
  background-color: var(--special-deep-brown);
  color:var(--special-white);
}
.button-search {
  width: 458px;
  height: 58px;
  padding: 16px 180px;
  font-size: 21px;
  line-height: 26px;  
}

.date-selection label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

input {
  background-color: var(--basic-input);
}
input:hover {
  background-color: var(--special-input);
}
input:focus {
  background-color: var(--basic-white);
}

.main-footer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  background: var(--basic-footer);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  color: var(--basic-black);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.footer-contacts, .footer-phone {
  line-height: 26px;
  font-size: 21px;
  color: var(--basic-black);
  font-weight: 700;
}

.footer-social-button {
  outline: 5px solid rgb(0, 255, 179);
  outline-offset: -5px;
}
.social-button {
  display: inline-block;
  vertical-align: middle;
  background-color: var(--basic-blue);
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}

.icon-twitter {
  background-image: url(../img/logo/twitter-logo.svg);
}

.icon-facebook {
  background-image: url(../img/logo/fb-logo.svg);
}
.icon-youtube {
  background-image: url(../img/logo/youtub-logo.svg);
}
.social-button:hover {
  background-color: var(--special-light-blue)
}
.social-button:active {
  background-color: var(--special-deep-blue)
}
.footer-copyright {
  line-height: 26px;
  color: var(--basic-black);
}

/* Catalog Section: filter-box */

.filter-box {
  background-image: url(../img/background/catalog-background.jpg);
  background-color: var(--basic-grey);
  color: var(--basic-white);
  background-repeat: no-repeat;
}
.filter-box legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.input-price {  
  text-align: center;
  color: var(--basic-white);
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
.range-filter {
  width: 317px;
}
.range-controls {
  position: relative;
  height: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 20px;
}
 .scale {
  height: 2px;
  background: var(--special-white);
}
.range-controls .bar {
  width: 75%;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 75%;
}
.filter-button {
  width: 137px;
  height: 36px;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
}
.filter-button:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}  

.view-results, .catalog-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}
.sort {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}
.sort-list a {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--basic-blue);
  color: var(--special-black);
}
.sort-item:hover {
  color: var(--basic-blue);
}
.sort-item:active {
  color: var(--basic-black);
  border-bottom: none;
}
.sort-list .sort-item-current {
  color: var(--basic-blue);
  border-bottom: none;
}
.catalog-title:hover {
  color: var(--basic-blue);
}
.catalog-title:active {
  color: var(--special-black);
}
.rating {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  background: var(--basic-input);
  color: var(--warm-grey);
}

.button-brown {
  padding: 10px 16px 5px 16px;
  background: var(--basic-brown);
} 
















/*
.main-element {
  list-style: none;
}